<head>
	<link rel="stylesheet" href="../../css/default.css" />
</head>
<div data-jc="form" data-title="@(Users)" data-jc-path="common.form" data-if="value === 'users'" data-width="700px"
	class="hidden forward-form">
	<div>
		<section class="panel">
			<div data-jc="searchbox" data-jc-path="common.searchUsers" data-enter="false"
				data-placeholder="@(Type a phrase and press enter)">
			</div>
		</section>
	</div>
	<div class="forward-recipients-container">
		<div class="padding" data-jc="search" data-jc-path="common.searchUsers" data-selector=".jsearch"
			id="userscontainer">
			<div data-jc="lazyload" data-container="#content" data-selector=".jlazyload" data-exec="lazy_picture"
				data-jc-path="users.items">
				<div data-jc="repeater" data-jc-path="current.channels">
					<script type="text/html">
						<!-- <div class="exec hover jsearch col-lg-2 col-md-4 col-xs-6 m item{{ if visible }} item-visible{{ fi }}" data-id="{{ id }}" data-search="{{ name }}" threadtype="channel" data-exec="forward_message"><i class="fa fa-hashtag"></i>{{ name }}</div> -->
						<div class="exec hover jsearch col-lg-2 col-md-4 col-xs-6 m item{{ if visible }} item-visible{{ fi }}" data-id="{{ id }}" data-search="{{ name }}" threadtype="channel" data-exec="forward_message"><img src="/photos/logo.png" data-src="/photos/logo.png" class="mr5 img-lazyload" height="30" width="30"/>{{ name }}</div>
					</script>
				</div>
				<div data-jc="repeater-group" data-jc-path="users.items" data-group="department" class="users row">
					<!-- <div data-jc="repeater-group" data-jc-path="users.items" class="users row"></div> -->
					<script type="text/html">
						<div class="{{if me}}hidden{{fi}}">
							<div class="exec hover user-item col-lg-2 col-md-4 col-xs-6 m jsearch{{ if picture && picture !== 'face' }} jlazyload{{ fi }}" data-search="{{ name }}" data-exec="forward_message" data-id="{{id}}" threadtype="user">
								<a class="singleline{{ if !me }} jrouting{{ fi }} text-ellipsis"><img src="/photos/face.png" data-src="{{ if picture }}/photos/{{ picture }}.jpg{{ else }}/img/face.png{{ fi }}" class="mr5 img-lazyload" height="30" width="30"/>{{ name }}</a>
								<!-- <div class="fs11 mt5 singleline b black">{{ position }}</div> -->
								<div class="fs11 singleline"><i class="fa fa-circle mr5 useronline{{ if online }} online{{ fi }}" data-id="{{ id }}"></i> {{ if notifications }}{{ fi }}@(Logged:) {{ datelogged | time | def('...') }}{{ if blocked }} <b class="red">@((user is blocked))</b>{{ fi }}</div>
								<!-- <div class="fs11 singleline">{{ if mobile }}<i class="fa fa-mobile mr5"></i>{{ fi }}{{ if notifications }}{{ fi }}@(Logged:) {{ datelogged | time | def('...') }}{{ if blocked }} <b class="red">@((user is blocked))</b>{{ fi }}</div> -->
							</div>
						</div>
					</script>
					<script type="text/html">
						{{ body | raw }}
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-container">
		<button class="button exec" name="cancel" data-exec="close_users_form">@(Close)</button>
	</div>
</div>
<style>
	
</style>


<script>

	var users = { online: false };

	function users_reload() {
		SET('common.searchUsers', '');
		//EMIT('resize');
		users_refresh();
	}

	function users_refresh() {
		//console.log(users);
		var items = [];
		var channels = [];

		current.users.forEach(function (item) {
			if ((users.online && !item.online))
				return;
			items.push(item);
		});

		current.channels.forEach(function (item) {
			channels.push(item);
		});

		SET('users.items', items);
		SET('current.channels', channels);
		//$('#userscontainer').component().refresh();
		// common.searchUsers && setTimeout2('searchusers', function () {
		// 	$('#userscontainer').component().refresh();
		// }, 100);
		SETTER('loading', 'hide', 1000);
	}

	function close_users_form() {
		SET('common.searchUsers', '');
		users_reload();
		var users = document.getElementsByClassName("user-item");
		var channels = document.getElementsByClassName("item");
		var items = Array.from(channels).concat(Array.from(users));
		items.forEach(item => {
			item.classList.add("exec", "hover");
			item.classList.remove("forward-complete");
		});
	}


	function forward_message(item) {

		MSG_MESSAGE.type = 'forward';
		MSG_MESSAGE.id = undefined;

		MSG_MESSAGE.recipienttype = item[0].attributes.getNamedItem('threadtype').nodeValue;
		MSG_MESSAGE.recipientid = item[0].attributes.getNamedItem('data-id').nodeValue;

		MSG_MESSAGE.body = common.forward;
		MSG_MESSAGE.files = findfiles(MSG_MESSAGE.body);
		MSG_MESSAGE.users = findusers(MSG_MESSAGE.body);
		MSG_MESSAGE.users && (MSG_MESSAGE.users[user.id] = true);


		EMIT('messenger.send', MSG_MESSAGE);

		if (MSG_MESSAGE.body) {
			SETTER('websocket', 'send', MSG_MESSAGE);
		}

		MSG_MESSAGE.type = 'message';

		forward_complete(item);
	}

	function forward_complete(item){
		var item_div = item[0];
		var item_id = item_div.getAttribute("data-id");

		item_div.classList.remove("exec", "hover");
		item_div.classList.add("forward-complete");

		if(item[0].getAttribute("threadtype") === "channel")
			return;

		var recent = current.recent;
		var recipient = users.items.find(user_item => user_item.id === item_id);

		// if(!recent.includes(recipient) recent.some(user_item => user_item.id === recipient.id)){
		// 	user.recent[item_id] = true;
		// 	recent.push(recipient);
		// 	recent.sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase()));
		// 	SET('current.recent', recent);
		// }

		if(!recent.some(user_item => user_item.id === recipient.id)){
			user.recent[item_id] = true;
			recent.push(recipient);
			recent.sort((a, b) => a.name.toLowerCase().localeCompare(b.name.toLowerCase()));
			SET('current.recent', recent);
		}
	}
	
</script>